/uwp/PenguinTo-Do/AppPackages
/uwp/PenguinTo-Do/BundleArtifacts
/uwp/PenguinTo-Do/bin
/uwp/PenguinTo-Do/obj
/uwp/PenguinTo-Do/PenguinTo-Do_TemporaryKey.pfx
/uwp/PenguinTo-Do/PenguinTo-Do.csproj.user
/uwp/.vs