* {
    background-color: #202020;
    color: white;
}

.inputField input {
    background-color: #2d2d2d;
    color: white;
    border: black;
    border-bottom: 1px solid #9a9a9a;
}

    .inputField input:focus {
        background-color: #1f1f1f;
    }

.inputField .addButton {
    background: #393939;
}

.list li {
    background: #2d2d2d;
}

    .list li .icon {
        background: #0C8C8D;
    }