* {
    background-color: #f3f3f3;
    color: black;
}

.inputField input {
    background-color: #fbfbfb;
    color: black;
    border: white;
    border-bottom: 1px solid #868686;
}

    .inputField input:focus {
        background-color: #ffffff;
    }

.inputField .addButton {
    background: #0C8C8D;
}

.list li {
    background: white;
}

    .list li .icon {
        background: #0C8C8D;
    }